{% extends "base.html" %}

{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>🥰</h1>
<div class="row">
    <div class="col">
        <div class="card" style="width: 18rem;">
            <img src="https://cdn.pixabay.com/photo/2013/07/13/01/22/fruits-155616_960_720.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Bounty</h5>
                <p class="card-text">$ 2.10</p>
                <a href="#" class="btn btn-primary">Shop Now 😊</a>
            </div>
        </div>
    </div>    <div class="col">
        <div class="card" style="width: 18rem;">
            <img src="https://cdn.pixabay.com/photo/2017/10/06/17/16/tomato-2823824_960_720.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Tomato</h5>
                <p class="card-text">$ 1.90</p>
                <a href="#" class="btn btn-primary">Shop Now 😊</a>
            </div>
        </div>
    </div>    <div class="col">
        <div class="card" style="width: 18rem;">
            <img src="https://cdn.pixabay.com/photo/2016/03/23/04/44/fruits-and-vegetables-1274079_960_720.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Kiwi Fruit</h5>
                <p class="card-text">$ 2.10</p>
                <a href="#" class="btn btn-primary">Shop Now 😊</a>
            </div>
        </div>
    </div>    <div class="col">
        <div class="card" style="width: 18rem;">
            <img src="https://cdn.pixabay.com/photo/2017/03/06/12/00/lemon-2121307_960_720.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Yellow Lemon</h5>
                <p class="card-text">$ 1.20</p>
                <a href="#" class="btn btn-primary">Shop Now 😊</a>
            </div>
        </div>
    </div>    <div class="col">
        <div class="card" style="width: 18rem;">
            <img src="https://cdn.pixabay.com/photo/2013/11/13/16/01/fruit-210106_960_720.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Red Pepper</h5>
                <p class="card-text">$ 2.50</p>
                <a href="#" class="btn btn-primary">Shop Now 😊</a>
            </div>
        </div>
    </div>    <div class="col">
        <div class="card" style="width: 18rem;">
            <img src="https://images.pexels.com/photos/161573/background-water-breakfast-bright-161573.jpeg?cs=srgb&dl=sliced-lime-161573.jpg&fm=jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Green Lemon</h5>
                <p class="card-text">$ 1.00</p>
                <a href="#" class="btn btn-primary">Shop Now 😊</a>
            </div>
        </div>
    </div>    <div class="col">
        <div class="card" style="width: 18rem;">
            <img src="https://images.pexels.com/photos/53588/tomatoes-vegetables-food-frisch-53588.jpeg?cs=srgb&dl=food-vegetables-red-tomatoes-53588.jpg&fm=jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Cherry Tomato</h5>
                <p class="card-text">$ 3.10</p>
                <a href="#" class="btn btn-primary">Shop Now 😊</a>
            </div>
        </div>
    </div>    <div class="col">
        <div class="card" style="width: 18rem;">
            <img src="https://images.pexels.com/photos/65620/fruit-tomato-vegetable-nature-65620.jpeg?cs=srgb&dl=orange-round-fruit-65620.jpg&fm=jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Orange</h5>
                <p class="card-text">$ 2.40</p>
                <a href="#" class="btn btn-primary">Shop Now 😊</a>
            </div>
        </div>
    </div>    <div class="col">
        <div class="card" style="width: 18rem;">
            <img src="https://images.pexels.com/photos/35629/bing-cherries-ripe-red-fruit.jpg?cs=srgb&dl=food-red-sweet-raw-35629.jpg&fm=jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Bing Cherries</h5>
                <p class="card-text">$ 1.10</p>
                <a href="#" class="btn btn-primary">Shop Now 😊</a>
            </div>
        </div>
    </div>
</div>
<!--<ul>-->
<!--    {% for product in products %}-->
<!--    <li>{{product.name}} (${{product.price}})</li>-->
<!--    {% endfor %}-->
<!--</ul>-->
</body>
</html>
{% endblock %}
